@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f7931a; /* Bitcoin orange */
  --color-secondary: #2c2c2c; /* Dark background */
  --color-light: #ffffff; /* Text on dark background */
  --color-accent: #ffcc00; /* Accent color */
}

body {
  background-color: var(--color-secondary);
  color: var(--color-light);
  font-family: var(--font-roboto);
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: var(--color-primary);
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

